html {

    
  
  height: 100%;


  }

  body {
    background:linear-gradient(rgba(75, 0, 130, 0.85),
        rgba(0, 0, 0, 0.85));
    color: white;
    font-family: Consolas;
    opacity: 0.8;
    padding:200px;
    font-size:25px;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: contrast(80%);
    backdrop-filter: blur(20px);
    
   
  }

  h1 {

    font-size: 50px;
    text-shadow: 1px 1px 2px purple, 0 0 1em pink, 0 0 0.2em purple;
    filter: blur(0.5px);
    opacity:0.9;
  }



  ul {
    list-style-type: "→  ";
    color: rgba(255, 255, 255, 80%);
    text-shadow: 1px 1px 2px purple, 0 0 1em pink, 0 0 0.2em purple;


  }

  .heading {
    text-align: right;

  }

  hr {

    opacity: 0.1;
    margin: 0 -30px;
    border: 0;
    border-top: 2px solid #FF10F0;
  }

  .hobbies-colors {

    
    text-shadow: 1px 1px 2px purple, 0 0 1em blue, 0 0 0.2em blue;
    filter: blur(0.5px);

  }

  .p-heading {


    text-shadow: 1px 1px 2px #9D00FF, 0 0 1em #FF10F0, 0 0 0.2em #9D00FF;
    font-size:23px;

  }
  
  ul, .hobbies-colors {
    
    
    animation-duration: 3s;
    animation-name: slidein;
    letter-spacing: 1px;
    
  }

  .pfp {
    
    width:70px;
    height:auto;
    border-radius:50%;
    border:2px solid rgba(253,45,224, 0.3);
  }
  
  div {
    text-align:right;
    margin-right:8px;
  }
  
  text {
    opacity:0.5;
    margin-right:10px;
    color:pink;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 200%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }